@model UpdateAppUserRoleVM
@{
    ViewData["Title"] = "Yetki Güncelle";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/themes/mazer-theme/dist/assets/extensions/choices.js/public/assets/styles/choices.min.css">
}
@section Scripts {
    <script src="~/themes/mazer-theme/dist/assets/extensions/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="~/themes/mazer-theme/dist/assets/static/js/pages/form-element-select.js"></script>
    <script src="~/js/script.js"></script>
}
<div class="page-heading">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="page-content">
    <div class="row">
        <div class="col">
            <div class="card">
                <partial name="Partials/_SuccessErrorAlertPartial" />
                <div class="card-body">
                    <form method="post">
                        <select id="AppUserRoleSelect" class="choices form-select" asp-for="UpdateAppUserRoleDTO.Id">
                            <option disabled selected>Yetki Seçiniz!</option>
                            @if(Model.GetAppUserRoleDTOs != null)
                            {
                                @foreach (var item in Model.GetAppUserRoleDTOs)
                                {
                                    @if(Model.UpdateAppUserRoleDTO != null && Model.UpdateAppUserRoleDTO.Id == item.Id)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            }
                        </select>
                        <div class="form-group">
                            <label>Yetki Adı</label>
                            <input type="text" class="form-control" asp-for="@Model.UpdateAppUserRoleDTO.Name" placeholder="Yetki Adı" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-warning btn-block">Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        $("#AppUserRoleSelect").change(function () {
            const appUserRoleId = document.getElementById("AppUserRoleSelect").value;
            const path = "Yetki/Guncelle/" + appUserRoleId;
            redirectToSelectedPage(path);
        })
    }
</script>