@using System.Security.Claims
@model CreateStockInputVM
@{
    ViewData["Title"] = "Stok Girişi";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/themes/mazer-theme/dist/assets/extensions/choices.js/public/assets/styles/choices.min.css">
    <link rel="stylesheet" href="~/themes/mazer-theme/dist/assets/extensions/flatpickr/flatpickr.min.css">
}
@section Scripts {
    <script src="~/themes/mazer-theme/dist/assets/extensions/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="~/themes/mazer-theme/dist/assets/static/js/pages/form-element-select.js"></script>
    <script src="~/themes/mazer-theme/dist/assets/extensions/flatpickr/flatpickr.js"></script>
    <script src="~/themes/mazer-theme/dist/assets/static/js/pages/date-picker.js"></script>
    <script src="~/js/script.js"></script>
}
<div class="page-heading">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="page-content">
    <div class="row">
        <div class="col">
            <div class="card">
                <partial name="Partials/_SuccessErrorAlertPartial"></partial>
                <div class="card-body">
                    <form method="post" asp-route-CreateStockInputDTO.AppUserId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                        <div class="form-group">
                            <div class="row d-flex">
                                <div class="col-md-6">
                                    <label>Ürün Adı</label>
                                    <select id="productNameSelect" class="choices form-select" asp-for="CreateStockInputDTO.ProductId">
                                        <option disabled selected>Ürün Adı Seçiniz!</option>
                                        @if (Model.GetProductComboBoxDTOs != null)
                                        {
                                            @foreach (var item in Model.GetProductComboBoxDTOs)
                                            {
                                                @if(Model.ProductId != null)
                                                {
                                                    <option value="@item.Id" selected>@item.ProductName</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.ProductName</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Ürün Kodu</label>
                                    <select id="productCodeSelect" class="choices form-select" asp-for="CreateStockInputDTO.ProductId">
                                        <option disabled selected>Ürün Kodu Seçiniz!</option>
                                        @if (Model.GetProductComboBoxDTOs != null)
                                        {
                                            @foreach (var item in Model.GetProductComboBoxDTOs)
                                            {
                                                @if(Model.ProductId != null)
                                                {
                                                    <option value="@item.Id" selected>@item.ProductCode</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.ProductCode</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Şube</label>
                            <select id="branchSelect" class="choices form-select" asp-for="CreateStockInputDTO.BranchId">
                                <option disabled selected>Şube Seçiniz!</option>
                                @if (Model.GetBranchComboBoxDTOs != null)
                                {
                                    @foreach (var item in Model.GetBranchComboBoxDTOs)
                                    {
                                        <option value="@item.Id">@item.BranchName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Tedarikçi</label>
                            <select id="supplierSelect" class="choices form-select" asp-for="CreateStockInputDTO.SupplierId">
                                <option selected disabled>Tedarikçi Seçiniz!</option>
                                @if(Model.GetSupplierComboBoxDTOs != null)
                                {
                                    @foreach (var item in Model.GetSupplierComboBoxDTOs)
                                    {
                                        <option value="@item.Id">@item.CompanyName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Fatura No</label>
                            <input  type="text" class="form-control" asp-for="CreateStockInputDTO.InvoiceNumber" placeholder="Fatura No"/>
                        </div>
                        <div class="form-group">
                            <label>Fiyat</label>
                            <input type="text" class="form-control" asp-for="CreateStockInputDTO.UnitPrice" placeholder="Fiyat" />
                        </div>
                        <div class="form-group">
                            <label>Stok Giriş Adeti</label>
                            <input type="text" class="form-control" asp-for="CreateStockInputDTO.Quantity" placeholder="Stok Giriş Adeti" />
                        </div>
                        <div class="form-group">
                            <label>Açıklama</label>
                            <input type="text" class="form-control" asp-for="CreateStockInputDTO.Description" placeholder="Açıklama" />
                        </div>
                        <div class="form-group">
                            <label>Giriş Tarihi</label>
                            <input type="date" class="form-control flatpickr-no-config flatpickr-input" asp-for="CreateStockInputDTO.InputDate" placeholder="Stok Giriş Tarihi">
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function(){
        $("#productNameSelect").change(function () {
            const productId = document.getElementById("productNameSelect").value;
            const path = "Stok-Girisi/Ekle/" + productId;
            redirectToSelectedPage(path);
        });
        $("#productCodeSelect").change(function () {
            const productId = document.getElementById("productCodeSelect").value;
            const path = "Stok-Girisi/Ekle/" + productId;
            redirectToSelectedPage(path);
        });
    }
</script>