@model UpdateCategoryVM
@{
    ViewData["Title"] = "Kategori Güncelle";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/themes/mazer-theme/dist/assets/extensions/choices.js/public/assets/styles/choices.min.css">
}
@section Scripts {
    <script src="~/themes/mazer-theme/dist/assets/extensions/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="~/themes/mazer-theme/dist/assets/static/js/pages/form-element-select.js"></script>
    <script src="~/js/script.js"></script>
}
<div class="page-heading">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="page-content">
    <div class="row">
        <div class="col">
            <div class="card">
                <partial name="Partials/_SuccessErrorAlertPartial"></partial>
                <div class="card-body">
                    @if (Model.UpdateCategoryDTO != null || Model.GetCategoryDTO != null)
                    {
                        <form method="post">
                            <div class="form-group">
                                <label>Kategoriler</label>
                                <select asp-for="UpdateCategoryDTO.Id" class="choices form-select" id="categorySelect">
                                    <option disabled selected>Kategori Seçiniz!</option>
                                    @foreach (var item in Model.GetCategoryDTO)
                                    {
                                        @if (Model.UpdateCategoryDTO != null && Model.UpdateCategoryDTO.Id == item.Id)
                                        {
                                            <option value="@item.Id" selected>@item.CategoryName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.CategoryName</option>
                                        }
                                    }

                                </select>
                            </div>
                            <div class="form-group">
                                <label>Kategori Adı</label>
                                <input type="text" class="form-control" asp-for="@Model.UpdateCategoryDTO.CategoryName" placeholder="Kategori Adı" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-warning btn-block">Güncelle</button>
                            </div>
                        </form>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        $("#categorySelect").change(function () {
            const categoryId = document.getElementById("categorySelect").value;
            const path = "Kategori/Guncelle/" + categoryId;
            redirectToSelectedPage(path);
        })
    }

</script>