@model List<GetProductionListDTO>
@{
    ViewData["Title"] = "Üretim Listesi";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.min.css" />
}
@section Scripts {
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/2.0.8/sorting/date-de.js"></script>
    <script src="~/js/script.js"></script>
}
<div class="page-heading">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="page-content">
    <div class="row">
        <div class="col">
            <div class="card">
                <partial name="Partials/_SuccessErrorAlertPartial" />
                <div class="card-body">
                    <table id="productionList" class="table table-striped" width="100%">
                        <thead>
                            <tr>
                                <th>Şube</th>
                                <th>Ürün Adı</th>
                                <th>Ürün Kodu</th>
                                <th>Üretilen Adet</th>
                                <th>Üretim Tarihi</th>
                                <th>Açıklama</th>
                                <th>Çalışan</th>
                                <th>
                                    <div class="form-group">
                                        <a class="btn btn-success" asp-controller="Production" asp-action="Create">Ekle</a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.BranchName</td>
                                        <td>@item.ProductName</td>
                                        <td>@item.ProductCode</td>
                                        <td>@item.ProductionQuantity</td>
                                        <td>@item.ProductionDate</td>
                                        <td>@item.Description</td>
                                        <td>@item.UserName</td>
                                        <td>
                                            <div class="form-group">
                                                <a class="btn btn-warning btn-block" asp-controller="Production" asp-action="Update" asp-route-id="@item.Id">Güncelle</a>
                                                <a class="btn btn-danger btn-block" asp-controller="Production" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function(){
        intitializeDataTable('productionList', 4, 'desc');
    }
</script>